/data
.DS_Store
*.db
__azur*
__pycache__
__blob*
__cache*
/update-database-daily/last_update_time.txt
update-database-daily/last_update_time.txt
update-database-daily/last_update_time.txt
Readme.pdf
*.csv
